parameters:
	ignoreErrors:
		-
			message: '#^Comparison operation "\<" between int\<0, max\> and 0 is always false\.$#'
			identifier: smaller.alwaysFalse
			count: 1
			path: src/QueryBuilder.php

		-
			message: '#^Comparison operation "\<" between int\<1, max\> and 1 is always false\.$#'
			identifier: smaller.alwaysFalse
			count: 1
			path: src/QueryBuilder.php
