parameters:
	ignoreErrors:
		-
			message: '#^Call to function in_array\(\) with arguments ''AND''\|''OR'', array\{''OR'', ''AND''\} and true will always evaluate to true\.$#'
			identifier: function.alreadyNarrowedType
			count: 1
			path: src/Query/MatchQuery.php

		-
			message: '#^Comparison operation "\<" between int\<0, max\> and 0 is always false\.$#'
			identifier: smaller.alwaysFalse
			count: 1
			path: src/QueryBuilder.php

		-
			message: '#^Comparison operation "\<" between int\<1, max\> and 1 is always false\.$#'
			identifier: smaller.alwaysFalse
			count: 1
			path: src/QueryBuilder.php
